@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Montserrat:wght@400;500;600;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Electrolize', sans-serif;
  margin: 3vw;
  background-color: lightgray;
}

body h2 {
  text-align: center;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header figure {
  width: 18%;
}

body header figure img {
  width: 100%;
  border-radius: 12px;
}

body header .header-nombre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

body header .header-nombre h1 {
  font-size: 2.5rem;
  margin: 15px;
  text-align: center;
  font-weight: bold;
}

body header .header-nombre h2 {
  font-size: 1.8rem;
  margin: 15px;
}

body header .header-nombre p {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  margin: 20px;
  max-inline-size: 400px;
}

body header .header-contacto-otros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header .header-contacto-otros .contacto, body header .header-contacto-otros .otros {
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 15px gray;
          box-shadow: 0px 0px 15px gray;
  border-radius: 12px;
  padding: 1vw;
  background-color: white;
}

body header .header-contacto-otros .contacto div, body header .header-contacto-otros .otros div {
  margin-top: 15px;
}

body header .header-contacto-otros .contacto div .li, body header .header-contacto-otros .otros div .li {
  font-weight: bold;
  margin: 10px;
  white-space: nowrap;
}

body header .header-contacto-otros .contacto div .li i, body header .header-contacto-otros .otros div .li i {
  margin-right: 10px;
  font-size: 20px;
}

body main {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 30px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .formacion, body main .formacion-complementaria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2vw;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 15px gray;
          box-shadow: 0px 0px 15px gray;
  background-color: white;
}

body main .formacion .formacion-container, body main .formacion-complementaria .formacion-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

body main .formacion .formacion-container .formacion-apartados, body main .formacion-complementaria .formacion-container .formacion-apartados {
  margin-top: 20px;
}

body main .formacion .formacion-container .formacion-apartados p, body main .formacion-complementaria .formacion-container .formacion-apartados p {
  margin-top: 5px;
}

body main .conocimientos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2vw;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 15px gray;
          box-shadow: 0px 0px 15px gray;
  background-color: white;
}

body main .conocimientos .container-skills {
  margin-top: 10px;
}

body main .conocimientos .container-skills .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-weight: bold;
}

body main .conocimientos .container-skills .skills i {
  margin-right: 15px;
  font-size: 35px;
}

body main .proyectos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 2vw;
  -webkit-box-shadow: 0px 0px 15px gray;
          box-shadow: 0px 0px 15px gray;
  border-radius: 12px;
}

body main .proyectos .container-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-top: 30px;
}

body main .proyectos .container-projects .each-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

body main .proyectos .container-projects .each-project figure {
  width: 100%;
}

body main .proyectos .container-projects .each-project figure img {
  width: 100%;
  border-radius: 12px;
}

body main .proyectos .container-projects .each-project h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

body main .proyectos .container-projects .each-project p {
  margin-top: 20px;
}
/*# sourceMappingURL=styles.css.map */