.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.general-tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.general-tables-container .main-table-container {
    width: 50%;
}

.general-tables-container .secundary-table-container {
    width: 50%;
}

