*, *::after, *::before{
    box-sizing: border-box;
    font-family: 'Electrolize', sans-serif;
    font-weight: normal;   
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, #909899, #ffffff);
}

.contenedor-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh; 
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.contenedor-grid > button {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(87, 87, 87);
    color: rgb(255, 255, 255);
    border: 1px solid white;
}

.contenedor-grid > button:hover {
    background-color: rgb(143, 142, 142);
}

.span-2{
    grid-column: span 2;
}

.pantalla-resultado{
    grid-column: 1 / -1;
    background: rgb(0, 0, 0, .80);
    font-weight: bold;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
}
 
.pantalla-resultado .operacion-anterior-estilo{
    color: rgba(255, 255, 255, 0.445);
    font-size: 1.5rem;
}

.pantalla-resultado .operacion-actual-estilo{
    color: white;
    font-size: 2.5rem;
}
